@media screen and (max-width: 544px) {
    .flexColumn {
        gap: 8px;
    }

    .flexRow {
        gap: 8px;
    }

    .marginBottom {
        margin-bottom: 8px;
    }
    .passwordGeneratorMain {
        margin: 0 8px;
    }

    .passwordGeneratorWrapper {
        padding: 8px;
    }
}

@media screen and (min-width: 544px) {
    .flexColumn {
        gap: clamp(8px, 2vw, 16px);
    }

    .flexRow {
        gap: clamp(8px, 2vw, 24px);
    }
    .passwordGeneratorMain {
        margin: auto;
        max-width: 512px;
    }

    .passwordGeneratorWrapper {
        background-color: rgb(69, 69, 69);
        border-radius: 4px;
        padding: 8px;
        margin-top: clamp(48px, 5vh, 96px);
        box-shadow: 2px 2px 8px rgba(239, 236, 236, 0.1);
    }

    .marginBottom {
        margin-bottom: clamp(8px, 2vw, 16px);
    }
}

.checkbox {
    margin-left: 8px;
}

.copyPassword {
    padding: 4px 8px;
    margin-left: 8px;
}

.error {
    color: rgb(232, 2, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.generateButton {
    padding: 8px 0;
    margin: 8px;
    width: calc(100% - 16px);
}

.generatedPassword {
    background-color: rgb(69, 69, 69);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-weight: 800;
}

.generatedPassword div {
    word-break: break-all;
    white-space: pre-wrap;
}

.marginX {
    margin: 0 8px;
}

.passwordGeneratorMain {
    padding-top: var(--sticky-nav-height);
}

.spaceBetween {
    justify-content: space-between;
}

.textCenter {
    text-align: center;
}
