body {
    margin: 0;
    font-family: 'Poppins-Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(12, 12, 12);
}

a:link {
    text-decoration: none;
}
a:visited {
    color: rgb(12, 12, 12);
}
a:hover {
    color: rgba(12, 12, 12, 0.5);
}
a:active {
    color: rgba(12, 12, 12, 0.15);
}

#stickynavigation-favicon:hover {
    opacity: 0.5;
}
#stickynavigation-favicon:active {
    opacity: 0.15;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'), url('./fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('./fonts/Poppins-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'), url('./fonts/Poppins-Bold.ttf');
    font-weight: 500;
}
